<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <header>
      <h1 class="title">Welcome to the Users Page</h1>
      <nav class="nav">
        <ul class="list-container">
          <li class="list"><a href="/">Home</a></li>
          <li class="list"><a href="/users">Users</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>User List</h2>
      <ul>
        <li class="user">User 1</li>
        <li class="user">User 2</li>
        <li class="user">User 3</li>
      </ul>
    </main>
  </body>
</html>
